body {
    font-family: Arial, sans-serif;
    background-color: #ecf8eb;
    margin: 0;
    padding: 0;
    background: url('bg.jpg') no-repeat center center fixed;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #e6f1ec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    appearance: none;
    outline: none;
}

select:focus {
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:last-child {
    background-color: #f44336;
    margin-top: 10px;
}

button:last-child:hover {
    background-color: #d32f2f;
}
.dark{
    background-color: rgb(44, 43, 43);
}

.container {
    margin-top: 50px;
}
.table-container {
    margin-top: 20px;
}
.table-container table {
    width: 100%;
}
.table-container th, .table-container td {
    padding: 8px;
    text-align: left;
}
.table-container th {
    background-color: #f2f2f2;
}
.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-container a {
    margin-right: 5px;
}
.selectpicker + .dropdown-toggle::after {
    margin-top: 0.9em; /* Adjust this value to increase or decrease the height */}
